<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WoS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to WoS (WSJF on Steroids)</h1>
        <nav>
            <ul>
                <li><a href="{% url 'backlog:index' %}">Backlog</a></li>
                <li><a href="{% url 'backlog:stories' %}">Stories</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; {{ current_year }} WoS. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>